base/.terraform/
base/.terraform/terraform.tfstate
tfstate/.terraform/ 
tfstate/terraform.tfstate
tfstate/terraform.tfstate.backup
tfstate/.terraform.lock.hcl
base/.terraform.lock.hcl
.terraform.lock.hcl
tf.plan
.terraform/terraform.tfstate
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/azuread/1.2.2/linux_386/terraform-provider-azuread_v1.2.2_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.53.0/linux_386/terraform-provider-azurerm_v2.53.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/2.3.1/linux_386/terraform-provider-random_v2.3.1_x4
logicapps/.debug/*.dll
logicapps/.d*
logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
.terraform/providers/registry.terraform.io/hashicorp/azuread/1.2.2/linux_amd64/terraform-provider-azuread_v1.2.2_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.58.0/linux_amd64/terraform-provider-azurerm_v2.58.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/2.3.1/linux_amd64/terraform-provider-random_v2.3.1_x4
bicep/api.json
bicep/api.bicep
bicep/output.json
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.58.0/linux_386/terraform-provider-azurerm_v2.58.0_x5
logicapps/Artifacts/lqtx/
logicapps/Artifacts/Schemas/LiquidTransform.Binaries.v1.0.zip
logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
__blobstorage__/
__queuestorage__/
__azurite*.json
logicapps/.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
tests/apitests.http
tests/*.http
.terraform/providers/registry.terraform.io/hashicorp/azuread/2.32.0/linux_amd64/terraform-provider-azuread_v2.32.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/linux_amd64/terraform-provider-random_v3.4.3_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.39.1/linux_amd64/terraform-provider-azurerm_v3.39.1_x5
bicep/deploy.local.json
tests/apitests.http
.terraform/providers/registry.terraform.io/hashicorp/azuread/2.33.0/linux_amd64/terraform-provider-azuread_v2.33.0_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.43.0/linux_amd64/terraform-provider-azurerm_v3.43.0_x5
data/1340722Z.json
.terraform/providers/registry.terraform.io/hashicorp/azuread/2.36.0/linux_amd64/terraform-provider-azuread_v2.36.0_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.47.0/linux_amd64/terraform-provider-azurerm_v3.47.0_x5
