base/.terraform/
base/.terraform/terraform.tfstate
tfstate/.terraform/ 
tfstate/terraform.tfstate
tfstate/terraform.tfstate.backup
tfstate/.terraform.lock.hcl
base/.terraform.lock.hcl
.terraform.lock.hcl
tf.plan
.terraform/terraform.tfstate
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/azuread/1.2.2/linux_386/terraform-provider-azuread_v1.2.2_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.53.0/linux_386/terraform-provider-azurerm_v2.53.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/2.3.1/linux_386/terraform-provider-random_v2.3.1_x4
logicapps/.debug/
